<app-project-details
  [project]="project"
  [isLoading]="isLoading"
  [hasError]="hasError"
  [errorMessage]="errorMessage"
  (editProject)="editProject()"
  (deleteProject)="onDeleteProject()"
  (notificationsToggle)="onToggleNotify()"
>
  <ng-template #overviewContent>
    <mat-card class="deadline-card">
      <h2 class="days-left-title">Days Left: {{ getDaysLeft() }}</h2>
      <p class="deadline">
        Deadline: {{ project?.deadline | date : "longDate" }}
      </p>
    </mat-card>

    <app-deadline-calendar
      [calendarStartDate]="calendarStartDate"
      [today]="today"
      [project]="project"
      (calendarStartDateChange)="calendarStartDate = $event"
    />
  </ng-template>
</app-project-details>
