<ng-container *ngIf="!isLoading && project">
    <mat-card class="project-header">
        <div class="project-title">
            <h1>{{ project.name }}</h1>
            <mat-slide-toggle [checked]="project.notify" (change)="onToggleNotify()">
                Notifications
            </mat-slide-toggle>
        </div>
        <p class="project-description">{{ project.description }}</p>
    </mat-card>

    <mat-tab-group>
        <!-- Overview Tab -->
        <mat-tab label="Overview">
            <div class="overview-tab">
                <mat-card class="deadline-card">
                    <h2 class="days-left-title">Days Left: {{ getDaysLeft() }}</h2>
                    <p class="deadline">Deadline: {{ project.deadline | date: 'longDate' }}</p>
                </mat-card>

                <app-deadline-calendar
                        [calendarStartDate]="calendarStartDate"
                        [today]="today"
                        [project]="project"
                        (calendarStartDateChange)="calendarStartDate = $event"
                />

            </div>
        </mat-tab>

        <!-- Generated Content Tab -->
        <mat-tab label="Generated Contents">
            <div class="empty-state">
                <p>No contents generated yet.</p>
            </div>
        </mat-tab>

        <!-- Configuration Tab -->
        <mat-tab label="Configuration">
            <div class="config-actions">
                <button (click)="editProject()" mat-stroked-button color="primary">Edit Project</button>
                <button (click)="onDeleteProject()" mat-stroked-button color="warn">Delete Project</button>
            </div>
        </mat-tab>


    </mat-tab-group>
</ng-container>
