<mat-card class="calendar">
  <div class="weeks-container">
    <div *ngFor="let week of weeks" class="week-card">
      <div class="week-header">
        <h4>Week {{ week.weekNumber }}</h4>
        <span class="week-range">{{ getWeekRange(week) }}</span>
      </div>

      <div class="days-grid">
        <div
          *ngFor="let day of week.days"
          class="day-box"
          [ngClass]="{ 'teaching-day': day.isTeachingDay }"
        >
          <div class="day-header">
            <span class="day-name">{{ getDayName(day.date) }}</span>
            <span class="day-date">{{ day.date | date : "MMM d" }}</span>
          </div>

          <div class="topics-list" *ngIf="day.isTeachingDay">
            <div *ngFor="let topic of day.topics" class="topic-item">
              <mat-icon>book</mat-icon>
              <span>{{ topic }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
