<div class="app-container">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content-wrapper">
    <main class="main-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>

    <footer class="footer">
      <div class="container footer-container">
        <div class="about-us">
          <h5>About Us</h5>
          <ul>
            <li><a href="#">P3 Software Solutions</a></li>
            <li><a href="#">Our Projects</a></li>
            <li><a href="#">Learn more!</a></li>
          </ul>
        </div>
        <div class="footer-logo">
          <img src="../../../../assets/icons/logo@2x.png" alt="Footer Logo" />
        </div>
      </div>
      <p>© 2025 P3 Solutions. All rights reserved.</p>
    </footer>
  </div>
</div>

<!-- <div
  class="bg-overlay"
  [ngClass]="{ active: layoutService.sidebarOpen }"
></div> -->
