.footer {
  background: transparent !important; /* Sin fondo */
  padding: 20px 0;
  font-size: 12px;
  color: #666;
}

.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  flex-wrap: wrap; /* Permite ajuste en pantallas pequeñas */
}

.footer .about-us {
  text-align: left;
}

.footer .about-us h5 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer .about-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .about-us ul li {
  margin-bottom: 3px;
}

.footer .about-us ul li a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
}

.footer .about-us ul li a:hover {
  color: #4a62bd; /* Resalta al pasar el mouse */
}

.footer .footer-logo {
  display: flex;
  align-items: center;
}

.footer .footer-logo img {
  width: 110px; /* Ajusta el tamaño del logo */
  height: auto;
}

.footer p {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}