# Example .env file
DB_DATASOURCE=jdbc:mariadb://database:3306/neuralforge
DB_USERNAME=neuralforge_user
DB_PASSWORD=secureuserdbpassword
DB_NAME=neuralforge
DB_USER=neuralforge_user
DB_ROOT_PASSWORD=securerootdbpassword
JWT_KEY=securejwtkey
JWT_EXPIRATION=86400000