<app-gestion-card
  title="Aula Virtual 1"
  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  [buttons]="[
    { text: 'Abandonar Aula Virtual', color: '#4258a6' },
    { text: 'Ver estudiantes', color: '#a3bffa' },
    { text: 'Análisis de Progreso', color: '#091e42' },
    { text: 'Ver Plan de Enseñanza', color: '#4258a6' }
  ]">
</app-gestion-card>

<div class="post-section">
  <h2 class="post-title">Practicas y Laboratorios</h2>

  <div class="post-container">
    <app-post-card 
      title="Practica 1" 
      content="Lorem ipsum dolor sit amet, elit. Sed do eiusmod tempor incididunt..." 
      buttonText="Ver Contenido">
    </app-post-card>

    <app-post-card 
      title="Practica 2" 
      content="Lorem ipsum dolor sit amet, elit. Sed do eiusmod tempor incididunt..." 
      buttonText="Ver Contenido">
    </app-post-card>

    <app-post-card 
      title="Practica 3" 
      content="Lorem ipsum dolor sit amet, elit. Sed do eiusmod tempor incididunt..." 
      buttonText="Ver Contenido">
    </app-post-card>

    <app-post-card 
      title="Practica 4" 
      content="Lorem ipsum dolor sit amet, elit. Sed do eiusmod tempor incididunt..." 
      buttonText="Ver Contenido">
    </app-post-card>

    <app-post-card 
      title="Practica 5" 
      content="Lorem ipsum dolor sit amet, elit. Sed do eiusmod tempor incididunt..." 
      buttonText="Ver Contenido">
    </app-post-card>

  </div>
</div>