.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;

}

.all-profile-container {
  background-color: #f7f9fc;
}

.profile-page-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  h1 {
    font-size: 28px;
    margin: 0;
  }

  .profile-icon {
    color: #4054b4;
  }
}
.account-mgt-btn {
  width: 250px;
}



.profile-card {
  background: #fff;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);


  h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }

  p {
    margin: 8px 0 16px;
    color: #666;
  }

  button + p {
    margin-top: 16px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .user-details {
    h2 {
      margin: 0;
      font-size: 22px;
    }

    p {
      margin: 4px 0 0;
      color: #777;
    }
  }
}

.full-width {
  width: 100%;
  margin-top: 12px;
}

.delete-card {
  border-left: 4px solid #dc3545;
  display: flex;
  align-items: center;
  .danger-text {
    margin: 0 0 12px;
    color: #b00020;
  }
}

.info-line {
  display: flex;
  gap: 5px;
  padding: 6px 0;
  font-size: 15px;

  span {
    color: #444;
  }
}

.account-actions-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.horizontal-separator {
  height: 1px;
  background: #ccc;
  margin: 4px 0;
}

.small-button {
  font-size: 13px;
  padding: 4px 12px;
  align-self: flex-start;
}
.static-field {
  margin-bottom: 16px;
}

.static-field label {
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
}

.static-field p {
  margin: 0;
  padding: 8px 12px;
  border-radius: 4px;
}


