<div class="all-profile-container">
  <div class="profile-container">
    <app-spinner *ngIf="isLoading" [message]="'Loading profile information...'"></app-spinner>

    <div *ngIf="!isLoading">
      <!-- Page Header -->
      <div class="profile-page-header">
        <mat-icon class="profile-icon">account_circle</mat-icon>
        <h1>User Profile</h1>
      </div>

      <!-- Profile Info Card -->
      <mat-card class="profile-card">
        <div class="card-header">
          <div class="user-details">
            <h2>{{ userProfile.firstName }} {{ userProfile.lastName }}</h2>
            <p>{{ userProfile.email }}</p>
          </div>
          <div class="action-buttons">
            <button *ngIf="!isEditing" mat-raised-button color="primary" (click)="toggleEdit()">
              Edit
            </button>
            <ng-container *ngIf="isEditing">
              <button mat-stroked-button color="warn" (click)="cancelEdit()">Cancel</button>
              <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
            </ng-container>
          </div>
        </div>

        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="userProfileForm.get('firstName')?.hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </form>
      </mat-card>

      <!-- Activity Card -->
      <mat-card class="profile-card">
        <h3>Activity</h3>
        <div class="static-field">
          <label>Registration Date</label>
          <p>{{ registrationDateControl.value }}</p>
        </div>

        <div class="static-field">
          <label>Last Password Change</label>
          <p>{{ lastPasswordChangeControl.value }}</p>
        </div>

      </mat-card>

      <!-- Account Management -->
      <mat-card class="profile-card delete-card">
        <h3>Account Management</h3>
        <button class="account-mgt-btn" mat-flat-button color="primary" (click)="changePassword()">Change Password</button>
        <p class="danger-text">Deleting your account is irreversible. Proceed with caution.</p>
        <button class="account-mgt-btn" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
      </mat-card>
    </div>
  </div>
</div>

