<div class="login-container">
  <div class="login-card">
    <!-- Logo Section -->
    <div class="text-center">
      <a routerLink="/" class="logo">
        <img width="150" src="../../../../assets/icons/logo@2x.png" alt="Logo" />
      </a>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="handleLogin($event)" #frm="ngForm" autocomplete="off">
      <h4 class="text-center">Sign in to your account</h4>
      <p class="subtext text-center">Enter your email & password to access your account</p>

      <!-- Display login error if any -->
      <p *ngIf="loginError" class="error-message text-center">{{ loginError }}</p>


      <!-- Email Input Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email Address</mat-label>
        <input #email="ngModel" matInput type="email" id="email" name="email" placeholder="Insert your email" [(ngModel)]="loginForm.email" required />
        <mat-error *ngIf="email.invalid && email.touched">Please enter a valid email</mat-error>
      </mat-form-field>

      <!-- Password Input Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Password</mat-label>
        <input #password="ngModel" matInput [type]="showPassword ? 'text' : 'password'" id="password" name="password" placeholder="Insert your password" [(ngModel)]="loginForm.password" required />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid && password.touched">Please enter a valid password</mat-error>
      </mat-form-field>

      <!-- Forgot Password Link -->
      <div class="forgot-password text-center">
        <a routerLink="/reset-password-request">Forgot Password?</a>
      </div>

      <!-- Login Button -->
      <button mat-raised-button color="primary" class="w-100" type="submit">Sign in</button>

      <!-- Signup Link -->
      <p class="text-center signup-link">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
      <div class="separator">
        <span>OR</span>
      </div>

      <!-- Google Sign-In Button Wrapper -->
      <div class="google-login-container text-center">
        <div id="g_id_onload" data-client_id="6442135428-n9cfaitco0urctfo9mm0b4v3peclld8s.apps.googleusercontent.com" data-callback="handleCredentialResponse" data-auto_prompt="false"></div>
        <div class="g_id_signin"
             data-type="standard"
             data-shape="rectangular"
             data-theme="outline"
             data-text="sign_in_with"
             data-size="large"
             data-logo_alignment="left">
        </div>
      </div>
    </form>




  </div>
</div>