<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <!-- Logo Section -->
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img
              width="150"
              class="img-fluid mb-4"
              src="../../../../assets/icons/logo@2x.png"
              alt="Logo"
            />
          </a>
        </div>

        <div class="login-main">
          <!-- Login Form -->
          <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4>Sign in to account</h4>
              <small style="color: #4f4f4f">
                Enter your email & password to login
              </small>
            </div>

            <!-- Email Input Field -->
            <div class="form-group mb-3">
              <label for="email" class="form-label mb-2">
                Email Address
              </label>
              <input 
                #email="ngModel" 
                type="text" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="agent@gmail.com" 
                [(ngModel)]="loginForm.email" 
                [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" 
                required 
              />
              <!-- Error Message for Email Validation -->
              <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                Please add a valid email
              </div>
            </div>

            <!-- Password Input Field -->
            <div class="form-group px-1 mb-4">
              <label for="password" class="form-label mb-2">Password</label>
              <div class="form-input position-relative">
                <input
                        #password="ngModel"
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="*****"
                        [(ngModel)]="loginForm.password"
                        [ngClass]="{
                'is-invalid': password.invalid && password.touched,
                'is-valid': password.valid && password.touched
                }" required />
                <button
                        type="button"
                        class="btn btn-primary position-absolute end-0 top-50 translate-middle-y me-2"
                        (click)="togglePasswordVisibility()">
                  <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </button>
                <div *ngIf="password.invalid" class="invalid-feedback">
                  Please add a valid password
                </div>
              </div>
            </div>

            <!-- Google Sign-In Button -->
            <div id="g_id_onload"
                data-client_id="6442135428-n9cfaitco0urctfo9mm0b4v3peclld8s.apps.googleusercontent.com"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="sign_in_with"
                data-size="large"
                data-logo_alignment="left">
            </div>

            <!-- Login Button -->
            <div class="form-group mt-4">
              <button class="btn btn-primary btn-block w-100 custom-button" type="submit">
                Sign in
              </button> 
              <!-- Display login error if any -->
              <p *ngIf="loginError" class="text-danger mt-2">
                {{ loginError }}
              </p>
            </div>

            

            <!-- Signup Link -->
            <div class="text-center mt-4">
              <a href="/signup" class="text-decoration-none">Go SignUp</a>
            </div>
            <div class="text-center mt-4">
              <a href="/reset-password-request" class="text-decoration-none">Forgot password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>